<%- include("partials/head")%>
<%- include("partials/header")%>
<!------------------------------------------------------------>

<div class="row justify-content-center align-items-center">

  <div class="col-12 col-md-4 text-center pt-5 pb-5">

    <!-------Codigo que recepciona mensajes de error de registro e ingreso------------------------->
    <% if (typeof errores != 'undefined') {%>
    <div class="alert alert-danger" role="alert" style='text-align:left'>

      <p style='color:red'>ERROR</p>
      <Ul>
        <% for (let i=0; i < errores.length; i++) { %>

        <li> <%= errores[i].msg %> </li>

        <% } %>

      </Ul>
    </div>
    <% } %>

    <!------------------mensajes de éxito-------------------------------->
    <% if (typeof data.mensaje != "undefined") { %>
    <div class="alert alert-success" role="alert">
      <%= data.mensaje %>
    </div>
    <% } %>
    <!----------------------Formulario de Ingreos------------------------->

    <% if(data.Formulario == 'UsuarioRegistrado') { %>
    <h3 class="pb-3">Ingresar</h3>
    <form action="/users/login/" method="POST">
      <div class="form-group">
        <label for="nombre">Email:</label>
        <input type="email" name="email" id="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="contrasenia">Contraseña:</label>
        <input class="form-control" type="password" name="contrasenia" id="contrasenia" />
      </div>
      <button type="submit" class="btn btn-primary mt-3">Confirmar</button>
    </form>
    <% } %>


    <!----------------------Formulario de registro------------------------->
    <% if(data.Formulario == 'FormularioRegistro') { %>

    <h3 class="pb-3">Registrarse</h3>

    <form action="/users/register/" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" />
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" name="apellido" />
      </div>
      <div class="form-group">
        <label for="mail">Email:</label>
        <input type="email" class="form-control" id="mail" name="email" />
      </div>
      <div class="form-group">
        <label for="contrasenia">Contraseña:</label>
        <input type="password" class="form-control" id="contrasenia" name="contrasenia" />
      </div>
      <div class="form-group">
        <label for="contrasenia2">Confirme Contraseña:</label>
        <input type="password" class="form-control" id="contrasenia2" name="contrasenia2" />
      </div>
      <div class="form-group">
        <label for="categoria">Categoria:</label>
        <input type="text" class="form-control" id="categoria" name="categoria" />
      </div>
      <div class="form-group">
        <div class="input-group justify-content-center align-items-center">
          <label class="input-group-btn"> Subir Imágen: </label>
          <span class="btn btn-secondary btn-file">

            <input accept=".jpg,.png,.jpeg,.gif" name="avatar" type="file" id="avatar">
          </span>

        </div>
      </div>
      <button type="submit" class="btn btn-success mt-3">Confirmar</button>
    </form>
    <% } %>


    <!----------------------Perfil Usuario------------------------->
    <% if(data.Formulario == 'MisDatos') { %>

    <h3 class="pb-3">Mi Informacion</h3>
    <form action="<%= data.User.id+'/edit' %>" method="POST" enctype="multipart/form-data">
      <div class="form-group">

        <img src="/img/avatar/<%= data.User.imagen%>" style='width:30%' alt='imagen de perfil'>
        <div class="input-group justify-content-center align-items-center">
          <label class="input-group-btn">
            <span class="btn btn-secondary btn-file">
              Cambiar Imagen <input accept=".jpg,.png,.jpeg,.gif" name="avatar" type="file" id="avatar" required
                class="hidden">
            </span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="<%= data.User.nombre %>" required />
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" name="apellido" value="<%= data.User.apellido %>"
          required />
      </div>
      <div class="form-group">
        <label for="mail">Email:</label>
        <input type="email" class="form-control" id="mail" name="email" value="<%= data.User.email %>" required />
      </div>
      <div class="form-group">
        <label for="contrasenia">Contraseña:</label>
        <input type="password" class="form-control" id="contrasenia" name="contrasenia" required />
      </div>
      <div class="form-group">
        <label for="contrasenia2">Confirme Contraseña:</label>
        <input type="password" class="form-control" id="contrasenia2" name="contrasenia2" required />
      </div>
      <div class="form-group">
        <label for="categoria">Categoria:</label>
        <input type="text" class="form-control" id="categoria" name="categoria" value="<%= data.User.categoria %>"
          required />
      </div>
      <button type="submit" class="btn btn-success mt-3">Actualizar</button>
    </form>
    <% } %>
  </div>
</div>



<!------------------------------------------------------------>
<%- include("partials/footer")%>