
<%- include("partials/head")%>
<%- include("partials/header")%>


<!------------------mensajes de éxito-------------------------------->
<div style='text-align: center;'>
<% if (typeof data.mensaje != "undefined") { %>
  <div class="alert alert-success" role="alert">
    <%= data.mensaje %>
  </div>
  <% } %>
</div>
<!--------------------Agregar Producto---------------------------------------->
<% if(data.Formulario == 'NuevoProducto'){ %>

  <%- include("./forms/nuevoProducto")%>
  
  <% } %>
  
<!-----------------------Editar Producto------------------------------------->

   <% if(data.Formulario == 'ModificarProducto'){ %>

  <%- include("./forms/modificarProducto")%>
  
  <% } %>

  <!-----------------------Eliminar Producto------------------------------------->

  <% if(data.Formulario == 'DeleteProducto'){ %>

    <%- include("./forms/deleteProducto")%>
    
    <% } %>
  
 <!-----------------------Detalle Producto recién modificado------------------------------------>

 <% if(data.Formulario == 'DetalleProducto'){ %>

  <%- include("./forms/detalleProducto")%>
  
  <% } %>

  <!------------------------------------------------------------>
  <%- include("partials/footer")%>
  
  
  
  
  
  
  
  
  